.wrapper {
  max-width: $break-large;
  margin: 0 auto;
  margin-left: 300px;
  
  &.main {
    padding: 10px;
  }

  @media(max-width: $break-medium) {
    margin-left: 0;
  }
}

%lato-light {
  font: {
    family: $main-type;
    weight: 300;
  }
}

%lato-light-italic {
  font: {
    family: $main-type;
    weight: 300;
    style: italic;
  }
}

%lato-regular {
  font: {
    family: $main-type;
    weight: 400;
  }
}

%lato-italic {
  font: {
    family: $main-type;
    weight: 400;
    style: italic;
  }
}

%lato-bold {
  font: {
    family: $main-type;
    weight: 700;
  }
}

%lato-bold-italic {
  font: {
    family: $main-type;
    weight: 700;
    style: italic;
  }
}
.off-white {
  background: $off-white;
}

.sea-green {
  background: $sea-green;
}

.teal-green {
  background: $teal-green;
}

.sea-blue {
  background: $sea-blue;
}

.teal-blue {
  background: $teal-blue;
}

.off-black {
  background: $off-black;
}

.dark-yellow {
  background: $dark-yellow;
}

.light-yellow {
  background: $light-yellow;
}

.light-gray {
  background: $light-gray;
}

.med-gray {
  background: $med-gray;
}

.off-white {
  background: $off-white;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix {
  clear: both;
}