@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


body {
  background: $white;
}

h1,h2,h3,h4,h5,h5,p,a{
  font: {
    family: 'lato', sans-serif;
  }
  color: $off-black;
}

p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
}

.header {
  padding-top: 250px;
  padding-bottom: 250px;
  text-align: center;
  img {
    width: 275px;
  }
}

.header-subhead {
  color: $light-gray;
  font-weight: 200;
}

.header-title {
  text-align: center;
}

.section-header {
  border-bottom: 2px solid $light-gray;
  color: $teal-green;
  font: {
    size: 3em;
    weight: 600;
  }
  padding-bottom: 10px;
}

.subsection {
  margin-left: 20px;  
}

.color-box {
  display: inline-block;
  height: 100px;
  margin: 5px;
  padding: 20px;
  text-align: center;
  vertical-align: top;
  width: 100px;
  text-align: center;
  
  @media(max-width:$break-medium) {
    width: 95px;
  }

}

.white-type {
  color: #fff;
}

.logos {
  img {
    height: 80px;
    padding: 40px;
  }
}

.spacing {

  h2 {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  img {
    max-width: 400px;
    width: 90%;
    float: left;
    @media(max-width: $break-large-medium) {
      float: none;
    }
  }
  p {
    float: left;
    width: 30%;
    margin-left: 40px;
    @media(max-width: $break-large-medium) {
      float: none;
      width: 90%;
      margin-left: 0;
    }
  }
}

.typography-faces {
  h1 {
    font-size: 24px;
    margin-bottom: 0;
  }
  p {
    font-size: 18px;
    margin-top: 10px;
    letter-spacing: 1px;
  }
  margin-right: 20px;
  width: 40%;
  
  @media(max-width: $break-large-medium) {
    width: 100%;
    margin-right: 0;
  }
}

.lato-light {
  h1, p {
    font-weight: 300;
  }
}

.lato-light-italic {
  h1, p {
    font-weight: 300;
    font-style: italic;
  }
}

.lato-regular {
  h1,p {
    font-weight: 400;
  }
}

.lato-italic {
  h1,p {
    font-weight: 400;
    font-style: italic;
  }
}

.lato-bold {
  h1,p {
    font-weight: 700;
  }
}


.lato-bold-italic {
  h1,p {
    font-weight: 700;
    font-style: italic;
  }
}

