@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);


body {
  background: $white;
}

h1,h2,h3,h4,h5,h5,p,a{
  font: {
    family: 'lato', sans-serif;
  }
  color: $off-black;
}

.section-header {
  border-bottom: 2px solid $light-yellow;
  color: $teal-green;
  font: {
    weight: 600;
  }
  padding-bottom: 10px;
}
.wrapper {
  max-width: $break-large;
  margin: 0 auto;
  margin-left: 300px;
  
  &.main {
    padding: 10px;
  }

  @media(max-width: $break-medium) {
    margin-left: 0;
  }
}

.nav-main {
  @include prefix(transition, width .2s);
  background-color: $teal-green;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 250px;
  li {
    list-style: none;
    border-bottom: 1px solid rgba(255,255,255,.2);
    
    &:hover {
      @include prefix(transition, background .5s);
      background: $sea-green;
    }
  }

  a {
    color: $white;
    display: inline-block;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    width: 250px;

  
  }

  @media(max-width: $break-medium) {
    width: 0px;
    top: 50px;
    
  }
}

.nav-mobile {
  background: $teal-green;
  color: $white;
  display: none;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  @media(max-width: $break-medium) {
    display: block;
  }

  li {
    padding-left: 20px;
    font: {
      size: 30px;
    }
    line-height: 50px;
  }
}

.nav-open {
  @include prefix(transition, width .2s);
  width: 100%;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
  p {
    max-width: 600px;
  }
}

.header {
  background: $off-white;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  img {
    width: 200px;
  }
  
}

.header-title {
  text-align: center;
}

.subsection {
  margin-left: 20px;  
}

.color-box {
  display: inline-block;
  height: 100px;
  margin: 5px;
  padding: 20px;
  text-align: center;
  vertical-align: top;
  width: 100px;
}

