// Colors
$white: #fff;
$off-white: #f4f4f4;
$sea-green: #20826f;
$teal-green: #2dba9f;
$sea-blue: #0095a5;
$teal-blue: #32aecb;
$dark-yellow: #f3e240;
$light-yellow: #f6ed81;
$off-black: #2f2f2f;
$light-gray: #bababa;
$med-gray: #6d6e6e;
$off-white: #f9f9f9;

// BREAKPOINTS
$break-small          : 450px;
$break-medium         : 700px;
$break-large-medium   : 900px;
$break-large          : 1100px;

// GRIDS
$collapse-grid-at     : $break-large;

//TYPE

$lato: "Lato";
$sans-serif: helvetica, sans-serif;

$main-type: $lato, $sans-serif;