---
title: Megabus Styleguide
---
<div class="main">
  <section class="header">
    <div class="wrapper">
    <img src="images/megabus-logo.svg">
  </div>
  </section>
<nav class="nav-mobile">
  <ul>
    <li class="nav-toggle"> &#9776;</li>
  </ul>
</nav>
<nav class="nav-main">
    <ul><li><a href="#brand">Brand Overview</a></li>
    <li><a href="#logos">Logos</a></li>
    <li><a href="#spacing">Spacing</a></li>
    <li><a href="#colors">Colors</a></li>
    <li><a href="#typography">Typography</a></li>
    <li><a href="#grid">Grid</a></li>
    <li><a href="#examples">Examples</a></li></ul>
</nav>
<div class="wrapper main">

  <section class="brand" id="brand">
    <h1>Brand Overview</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, beatae, aliquam, deserunt eos adipisci possimus ipsum distinctio sapiente nobis illo earum nesciunt dolore at repellendus totam unde cumque itaque nostrum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, cupiditate, eveniet, nemo impedit sit blanditiis labore voluptatibus suscipit quam nihil amet minima vitae unde totam asperiores dolore perspiciatis laudantium iure!</p>
  </section>

  <section class="logos" id="logos">
    <h1>Logos</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, beatae, aliquam, deserunt eos adipisci possimus ipsum distinctio sapiente nobis illo earum nesciunt dolore at repellendus totam unde cumque itaque nostrum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, cupiditate, eveniet, nemo impedit sit blanditiis labore voluptatibus suscipit quam nihil amet minima vitae unde totam asperiores dolore perspiciatis laudantium iure!</p>
    <h2>On colors</h2>
    <h2>On Photography</h2>
    <h2>Do this</h2>
    <h2>Don't do this</h2>
  </section>

  <section class="spacing" id="spacing">
    <h1>Spacing</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, beatae, aliquam, deserunt eos adipisci possimus ipsum distinctio sapiente nobis illo earum nesciunt dolore at repellendus totam unde cumque itaque nostrum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, cupiditate, eveniet, nemo impedit sit blanditiis labore voluptatibus suscipit quam nihil amet minima vitae unde totam asperiores dolore perspiciatis laudantium iure!</p>
  </section>

  <section class="colors" id="colors">
    <h1>Colors</h1>
    <ul class="color-list">
    <li class="color-box sea-green"></li>
    <li class="color-box teal-green"></li>
    <li class="color-box sea-blue"></li>
    <li class="color-box teal-blue"></li>
    <li class="color-box off-black"></li>
    </ul>
  </section>

  <section class="typography" id="typography">
    <h1>Typography</h1>
    <h1>Heading 1</h1>
    <h2>Heading 1</h2>
    <h3>Heading 1</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, iusto, repellat sint quibusdam ad eveniet quae maxime nostrum cupiditate consectetur dicta provident magnam praesentium alias blanditiis ratione aut eius voluptatibus.</p>
  </section>
  <section class="grid" id="grid">
    <h1>Grid</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, iusto, repellat sint quibusdam ad eveniet quae maxime nostrum cupiditate consectetur dicta provident magnam praesentium alias blanditiis ratione aut eius voluptatibus.</p>
  </section>
  <section class="examples" id="examples">
    <h1>Examples</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, iusto, repellat sint quibusdam ad eveniet quae maxime nostrum cupiditate consectetur dicta provident magnam praesentium alias blanditiis ratione aut eius voluptatibus.</p>
  </section>
</div>